<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cosmetics App | Home</title>
    <link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <!-- HERO SECTION -->
    <section class="hero">
        <header>
            <img src="../assets/images/face_hair.png" alt="logo" class="logo">
            <nav class="navbar">
                <ul class="nav-links">
                    <li class="link-item">Home</li>
                    <li class="link-item">About</li>
                    <li>
                        <i class="fas fa-paper-plane icon"></i>
                    </li>
                </ul>
            </nav>
            <button class="cta">Book Appointment</button>
        </header>
        <h2 class="heading">My Cosmetics App</h2>
        <p class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae labore enim nam sapiente ullam rerum
            suscipit fugit ipsa voluptatibus aliquam.
        </p>
    </section>
    <!-- ABOUT SECTION -->
    <secion class="about">
        <div class="container">
            <h2 class="heading">About..</h2>
            <p class="about-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod rerum necessitatibus officia fuga,
                pariatur praesentium mollitia in vel corporis recusandae ex, ab ratione delectus. Inventore voluptas
                repellendus ad, labore, eaque laudantium provident iste, dolor animi perspiciatis ea. Omnis, iste qui?
            </p>
        </div>

        <div class="container">
            <img src="../assets/images/img5.jpg" alt="about" class="about-img">
        </div>
    </secion>
    <!-- BLOG -->
    <section class="blog">
        <div class="container">
            <img src="../assets/images/img6.jpg" alt="blog" class="blog-img">
        </div>
        <div class="container">
            <h2 class="headning">Blog..</h2>
            <p class="blog-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sit suscipit ducimus at nulla nam ex quaerat fuga earum quis unde aspernatur explicabo eius deleniti tempore quae, nisi voluptate consequatur. Est eum laudantium laboriosam optio tempore autem iusto neque repudiandae.
            </p>
            <a href="blog.html" class="readmore">Read more</a>
        </div>
    </section>


    <script src="../assets/fonts/fontawesome/js/all.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>